body {

}

.container {
	width: 700px;
	background: grey;
	margin: 0 auto;
	padding-bottom: 100px;
	padding-top: 50px;
}

.bad_example{
	list-style-type: none;
	margin: 0 auto;
}

li{
	display: inline;
	text-decoration: underline;
	color: blue;
	padding-left: 10px;
}

.good_example{
	list-style-type: none;
	margin: 0 auto;
}

h1 {
	padding: auto;
}
